<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skynet.skynet_po_api.job.dao.RoleInfoMapper">

    <resultMap type="com.skynet.skynet_po_api.job.model.RoleInfo" id="RoleInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="customerId" column="customer_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="permissions" column="permissions" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="isDel" column="is_del" jdbcType="INTEGER"/>
        <result property="cTime" column="c_time" jdbcType="TIMESTAMP"/>
        <result property="createrId" column="creater_id" jdbcType="INTEGER"/>
        <result property="lastUpdTime" column="last_upd_time" jdbcType="TIMESTAMP"/>
        <result property="lastUpdUser" column="last_upd_user" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into twdb.role_info(customer_idnamepermissionsstatusis_delc_timecreaterlast_upd_timelast_upd_userremark)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.customerId}#{entity.name}#{entity.permissions}#{entity.status}#{entity.isDel}#{entity.cTime}#{entity.creater}#{entity.lastUpdTime}#{entity.lastUpdUser}#{entity.remark})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into twdb.role_info(customer_idnamepermissionsstatusis_delc_timecreaterlast_upd_timelast_upd_userremark)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.customerId}#{entity.name}#{entity.permissions}#{entity.status}#{entity.isDel}#{entity.cTime}#{entity.creater}#{entity.lastUpdTime}#{entity.lastUpdUser}#{entity.remark})
        </foreach>
        on duplicate key update
customer_id = values(customer_id) name = values(name) permissions = values(permissions) status = values(status) is_del = values(is_del) c_time = values(c_time) creater = values(creater) last_upd_time = values(last_upd_time) last_upd_user = values(last_upd_user) remark = values(remark)     </insert>

</mapper>

